.mini-games {
    margin-bottom: 144px;
}

.mini-games__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;

    color: #FFFFFF;

    margin-top: 96px;
}

.guess-number-card {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.25px -7.57px #00000021;
    overflow: hidden;
    max-width: 100%;
    height: 500px;
    margin-top: 50px;
}

.guess-number-card__content {
    padding: 60px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.guess-number-card__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;

    padding-bottom: 24px;
}

.guess-number-card__description {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;    

    padding-bottom: 36px;
}

.guess-number-card__button {
    width: 247px;
    height: 66px;
    gap: 10px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 28px;

    background: #202027;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    color:#FFFFFF;

    &:hover {
        background: #FFFFFF;
        color: #202027;
        cursor: pointer;
    }
}

.guess-number-card__image-wrapper {
    width: 50%;
    background-color: #A060F3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guess-number-card__image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
  .mini-games {
    padding: 0 16px;
    margin-bottom: 48px;
  }

  .mini-games__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;

    margin: 48px 0 ;
  }

  .guess-number-card {
    flex-direction: column;
    width: 100vw;
    max-width: 343px;
    height: auto;
    padding-bottom: 32px;
    margin-top: 24px;
  }

  .guess-number-card__image-wrapper,
  .guess-number-card__content {
    width: 100%;
  }

  .guess-number-card__image {
    width: 343px;
    height: 284px;
  }

  .guess-number-card__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    padding-top: 27px;

  }

  .guess-number-card__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  .guess-number-card__button {
    width: 285px;
    height: 55px;
    border-width: 1px;
    padding-top: 16px;

    padding-bottom: 16px;

    border-radius: 60px;

  }

  .guess-number-card__image-wrapper {
    background-color: none;
    order: 0;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }

  .guess-number-card__content {
    order: 1;
    padding-top: 0;
    padding: 0 22px 0 22px;
  }

  .guess-number-card__button:active,
  .guess-number-card__button:focus {
    background: #FFFFFF;
    color: #202027;
    outline: none;
  }

  .image-right__img {
    width: 223px;
    height: 238px;
  }

  .star-2 {
    width: 35px;
    height: 35px;
    top: 97px;
    left: 38px;
    border-width: 1px;
    angle: 0 deg;

  }

  .star-3 {
    width: 21px;
    height: 21px;
    top: 64px;
    left: 92px;
    border-width: 1px;
    angle: 0 deg;

  }

  .star-4 {
    width: 39px;
    height: 41px;
    top: 680px;
    left: 304px;
    border-width: 1px;
    angle: 0 deg;

  }

  .star-5 {
    width: 18px;
    height: 18px;
    top: 657px;
    left: 273px;
    border-width: 1px;
    angle: 0 deg;

  }
} 