* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #202027;
}

@import "header";
@import "_infogame.scss";
@import "_guessnumbercard.scss";
@import "footer.scss";