* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #202027;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.header {
  width: 100%;
  height: 800px;
  background-color: #E1FF8F;
  position: relative;
  overflow: hidden;
}
.header .header-image {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: right;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.header .container {
  position: relative;
  z-index: 2;
}

.hero {
  width: 769px;
  height: 244px;
  gap: 24px;
}
.hero .hero-text {
  padding-top: 196px;
  margin-bottom: 48px;
}
.hero .hero-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #202027;
  margin-bottom: 24px;
}
.hero .hero-description {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #202027;
}
.hero .hero-btn {
  width: 247px;
  height: 66px;
  border-width: 1px;
  gap: 10px;
  border-radius: 60px;
  padding: 16px 28px;
  background-color: #202027;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}
.hero .hero-btn:hover {
  background-color: #FFFFFF;
  color: #202027;
}

.header-menu {
  width: 100%;
  height: 89.99999463558197px;
  border-width: 1px;
  padding-top: 27px;
  padding-right: 49px;
  padding-bottom: 27px;
  padding-left: 49px;
  background-color: #BCEC30;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 30px;
  line-height: 110.00000000000001%;
  letter-spacing: 4%;
  vertical-align: middle;
  text-transform: uppercase;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.header-menu span {
  display: inline-flex;
  align-items: center;
  margin-right: 51px;
}
.header-menu span:last-child {
  margin-right: 0;
}
.header-menu .plus {
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.star-2 {
  position: absolute;
  width: 57px;
  height: 57px;
  top: 94px;
  left: 63px;
  border-width: 1px;
}

.star-3 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 69px;
  left: 156px;
  border-width: 1px;
}

.star-4 {
  position: absolute;
  width: 83px;
  height: 83px;
  top: 568px;
  left: 1013px;
  border-width: 1px;
}

.star-5 {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 538px;
  left: 948px;
  border-width: 1px;
}

.games__content {
  padding-top: 94px;
}
.games__content .games__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.games__content .games__description {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #FFFFFF;
  margin-bottom: 72px;
}

.game-card {
  width: 378px;
  height: 473px;
  border-radius: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 12.61px 42.25px -7.57px #00000021;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 50px -5px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.game-card__info {
  padding: 32px 0 0 32px;
}

.game-card__number {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: 0px;
  vertical-align: bottom;
  color: #202027;
  width: 108px;
  height: 36px;
  border-radius: 52.58px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-card__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  padding: 16px 0 32px 0;
}

.games__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  perspective: 1000px;
}

.game-card--height-1,
.game-card--height-3 {
  height: 473px;
}

.game-card--height-2,
.game-card--height-5 {
  height: 512px;
}

.game-card--height-4 {
  height: 551px;
  margin-top: -37px;
}

.game-card--height-6 {
  height: 551px;
  margin-top: -37px;
}

.mini-games {
  margin-bottom: 144px;
}

.mini-games__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #FFFFFF;
  margin-top: 96px;
}

.guess-number-card {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px #00000021;
  overflow: hidden;
  max-width: 100%;
  height: 500px;
  margin-top: 50px;
}

.guess-number-card__content {
  padding: 60px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.guess-number-card__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  padding-bottom: 24px;
}

.guess-number-card__description {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  padding-bottom: 36px;
}

.guess-number-card__button {
  width: 247px;
  height: 66px;
  gap: 10px;
  border-radius: 60px;
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 16px;
  padding-left: 28px;
  background: #202027;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
}
.guess-number-card__button:hover {
  background: #FFFFFF;
  color: #202027;
  cursor: pointer;
}

.guess-number-card__image-wrapper {
  width: 50%;
  background-color: #A060F3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guess-number-card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  padding: 61px 0 60px;
  background-color: #BDED35;
}
.footer__section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__content {
  text-align: center;
}
.footer__text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
